<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LocalNugetManager.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <LocalNugetManager.Settings>
      <setting name="LastVersionCheck" serializeAs="String">
        <value>2016-01-01</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RemoteVersionPath" serializeAs="String">
        <value>C:\LocalNugetManager\LocalNugetManager_versions.txt</value>
      </setting>
      <setting name="RemoteVsixPath" serializeAs="String">
        <value>C:\LocalNugetManager\LocalNugetManager.vsix</value>
      </setting>
      <setting name="RemoteVsixPath_Beta" serializeAs="String">
        <value>C:\LocalNugetManager\LocalNugetManager_beta.vsix</value>
      </setting>
      <setting name="BetaChannelUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocalFolderForRepository" serializeAs="String">
        <value>C:\NugetLocal</value>
      </setting>
      <setting name="DelayBetweenSynchronizationInMinute" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AutoSynchronize" serializeAs="String">
        <value>True</value>
      </setting>
    </LocalNugetManager.Settings>
  </userSettings>
</configuration>